body{
  background-color: #222;
  color: #aaa;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul{
  background: #333;
  padding: 2rem;
  border-radius: 10px;

}

li{
  padding: .5rem;
  border-bottom: 1px solid #222;
}

input[type="text"]{
  background-color: #ccc;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
}

button{
  background-color: #ccc;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #aaa;
}

.filtered, .scrambled{
  background: #333;
  padding: 2rem;
  border-radius: 10px;
}